<div class="row mb-5 mt-lg-n5 mt-n3 page-wrapper p-md-5 p-sm-0 p-0">
  <div class="px-0 col-12 overflow-x" fxFlex="100" fxLayout>
    <img src="/assets/images/background/big-team@0.1x.png"
         srcset="
             /assets/images/background/big-team@1x.png 3000w,
             /assets/images/background/big-team@0.5x.png 1500w,
             /assets/images/background/big-team@0.33x.png 1000w,
             /assets/images/background/big-team@0.25x.png 750w,
             /assets/images/background/big-team@0.1x.png 300w"
         class="img-fluid px-0 hero-image">
  </div>
</div>
