<div class="row mb-5 mt-lg-n5 mt-n3 page-wrapper p-md-5 p-sm-0 p-0">
    <div class="px-0 col-12 overflow-x" fxFlex="100" fxLayout>
        <img src="/assets/images/background/big-team@0.1x.png"
             srcset="
             /assets/images/background/big-team@1x.png 6000w,
             /assets/images/background/big-team@0.5x.png 3000w,
             /assets/images/background/big-team@0.25x.png 1500w,
             /assets/images/background/big-team@0.1x.png 600w"
             class="img-fluid px-0 scale-lg-1 scale-1-2"
          style="height: fit-content; width: 100%; align-self: center">
    </div>
</div>
