<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<mat-nav-list class="p-2 mt-5" fxLayout="column">
  <ng-container *ngFor="let menuitem of menuItems.getMenuitem()">
    <ng-container [ngSwitch]="menuitem.enabled">
      <a
        (click)="openDialog(menuitem)"
        *ngSwitchDefault
        color="accent"
        fxFlex="100"
        mat-flat-button>
        <span>{{ menuitem.name }}</span>
        <span fxFlex></span>
        <span
          *ngFor="let badge of menuitem.badge"
          class="label label-{{ badge.type }}"
        >{{ badge.value }}</span
        >
      </a>

      <a
        (click)="toggle()"
        *ngSwitchCase="true"
        [href]="'/home#' + menuitem.state"
        color="accent"
        fxFlex="100"
        mat-flat-button>
        <span>{{ menuitem.name }}</span>
        <span fxFlex></span>
        <span
          *ngFor="let badge of menuitem.badge"
          class="label label-{{ badge.type }}"
        >{{ badge.value }}</span
        >
      </a>
    </ng-container>
  </ng-container>

  <button
    (click)="
      openDialog({ state: '', name: '', type: 'anchor', enabled: false })
    "
    class="mt-2"
    color="accent"
    fxFlex="100"
    fxHide="false"
    fxHide.gt-xs
    mat-button
    mat-flat-button>
    Connect Wallet
  </button>
</mat-nav-list>
