<vg-player (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <vg-scrub-bar vgFor="singleVideo">
      <vg-scrub-bar-current-time [vgSlider]="false"></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-controls vgFor="singleVideo" [vgAutohide]="true" [vgAutohideTime]="1">
      <vg-play-pause></vg-play-pause>
<!--      <vg-playback-button></vg-playback-button>-->
      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
<!--      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>-->
      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
<!--      <vg-track-selector></vg-track-selector>-->
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" crossorigin width="100%" [attr.show-overlay]="showOverlay">
      <ng-container *ngFor="let source of sources">
        <source *ngFor="let type of supportedSourceTypes"
                [attr.src]="'/assets/video/'+source.src+'.'+type.type"
                [attr.type]="'video/'+type.type">
      </ng-container>
    </video>
  </vg-player>
