<!-- ============================================================== -->
<!-- topbar -->
<!-- ============================================================== -->
<ng-container *ngFor="let menuitem of menuItems.getMenuitem()">

    <ng-container [ngSwitch]="menuitem.type">
        <a mat-button color="accent" [routerLink]="['/', menuitem.state]" *ngSwitchCase="'link'"
            routerLinkActive="selected" class="m-r-10">
            <span>{{ menuitem.name }}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>

        <a mat-button color="accent" [routerLink]="['/', 'home']" [fragment]="menuitem.state" *ngSwitchCase="'anchor'"
            class="m-r-10">
            <span>{{ menuitem.name }}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>
    </ng-container>
</ng-container>
