<!-- ============================================================== -->
<!-- topbar -->
<!-- ============================================================== -->
<ng-container *ngFor="let menuitem of menuItems.getMenuitem()">
    <a mat-button color="accent" [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'"
        routerLinkActive="selected" class="m-r-10 btn-outline-primary">
        <span>{{ menuitem.name }}</span>
        <span fxFlex></span>
        <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
    </a>
</ng-container>