$transition-speed: 0.25s;
$transition-function: cubic-bezier(0.39, 0.575, 0.565, 1);

@function animate-property($property) {
  @return $property $transition-speed $transition-function;
}

.nft-card {
}

.show-text-on-hover .mat-card-content {
  background-color: transparent;
  color: transparent;
  position: absolute;
  top: 0;
  transition: animate-property(color), animate-property(background-color);
}

.show-text-on-hover:hover,
.show-text-on-hover:focus {
  .mat-card-content {
    background-color: rgba(50, 50, 50, 0.5);
    color: inherit;
  }
}

.little-profile {
  .pro-img,
  .pro-img:first-child {
    margin-top: -110px;
    margin-bottom: 20px;

    img {
      width: 128px;
      height: 128px;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 100%;
    }
  }
}
