<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container">
  <!-- ============================================================== -->
  <!-- Topbar - style you can find in header.scss -->
  <!-- ============================================================== -->
  <app-sticky-header
    [isVisible]="showHeader$ | async"
    class="absolute w-100 z-2">
    <mat-toolbar class="topbar relative" color="primary">
      <!-- ============================================================== -->
      <!-- Logo - style you can find in header.scss -->
      <!-- ============================================================== -->
      <app-brand class="mr-n3"></app-brand>
      <!-- ============================================================== -->
      <!-- sidebar toggle -->
      <!-- ============================================================== -->

      <app-topbar fxShow="false" fxShow.gt-sm></app-topbar>

      <span fxFlex></span>
      <!-- ============================================================== -->
      <!-- app header component - style you can find in header.scss / header.component.ts-->
      <!-- ============================================================== -->
      <app-header></app-header>

      <button
        (click)="
          openDialog({ state: '', name: '', type: 'anchor', enabled: false })
        "
        class="m-r-20 btn-outline-primary"
        color="accent"
        fxShow="false"
        fxShow.gt-xs
        mat-button>
        Connect Wallet
      </button>

      <button
        (click)="toggle()"
        fxHide="false"
        fxHide.gt-sm
        mat-icon-button
        value="sidebarclosed">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </app-sticky-header>
  <!-- ============================================================== -->
  <!-- End Topbar - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <mat-sidenav-container
    [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
    class="example-sidenav-container">
    <!-- ============================================================== -->
    <!-- Sidebar - style you can find in sidebar.scss -->
    <!-- ============================================================== -->
    <mat-sidenav
      #snav
      [(opened)]="opened"
      [mode]="'over'"
      class="dark-sidebar pl-xs"
      fixedTopGap="0"
      fxHide="false"
      fxHide.gt-sm
      id="snav"
      position="end">
      <mat-nav-list fxHide="false" fxHide.gt-sm>
        <mat-list-item (click)="snav.toggle()">
          <a class="m-0 p-0">
            <mat-icon fxFlex style="text-align: end"
            >keyboard_double_arrow_right
            </mat-icon
            >
          </a>
        </mat-list-item>
      </mat-nav-list>

      <app-sidebar [toggle]="this.toggle"></app-sidebar>
    </mat-sidenav>
    <!-- ============================================================== -->
    <!-- Sidebar - style you can find in sidebar.scss -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Page container - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="page-wrapper">
      <div class="page-content main-content">
        <router-outlet>
          <app-spinner backgroundColor="#020e04"></app-spinner>
        </router-outlet>
      </div>

      <app-footer class="page-content"></app-footer>
    </mat-sidenav-content>
    <!-- ============================================================== -->
    <!-- Page container - style you can find in pages.scss -->
    <!-- ============================================================== -->
  </mat-sidenav-container>
</div>
