@import 'variables';

.color {
  background-color: transparent;
}

.color-0 {
  background-color: #fff;
}

.color-1 {
  background-color: gray;
}

.color-2 {
  background-color: #020e04;
}

.color-3 {
  background-color: #560514;
}

.color-4 {
  background-color: #c40303;
}

.color-5 {
  background-color: #fb2501;
}

.color-6 {
  background-color: #412a01;
}

.color-7 {
  background-color: #ff8707;
}

.color-8 {
  background-color: #e6b103;
}

.color-9 {
  background-color: #02a83b;
}

.color-A {
  background-color: #103725;
}

.color-B {
  background-color: #014d38;
}

.color-C {
  background-color: #1b88db;
}

.color-D {
  background-color: #0d1b4a;
}

.color-E {
  background-color: #371e62;
}

.color-F {
  background-color: #f82a55;
}
