.bathroom-container {
  caret-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toilet-container {
  margin-top: 50px;
}

.custom-button {
  display: flex;
  margin-bottom: 15%;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 992px) {
  .toilet-container {
    margin-top: auto;
  }
}
