@import 'variables';

* {
  color: #fff;
}

.common-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.common-hero {
  max-width: 100%;
}

.common-title {
  position: sticky;
  font-size: 1.7em;
  font-weight: 800;
  font-style: italic;
}

.common-sub-title {
  display: inline;
  font-size: 1.3em;
  font-weight: 700;
}

.common-text {
  color: #fff;
}

.common-p {
  text-align: justify;
  font-size: 1em;
}

.common-sub-p {
  text-align: justify;
  font-size: 0.8em;
}

.link {
  color: $primary;
  text-decoration: underline;
  word-wrap: break-word;
}

.link:hover {
  color: #fff;
}

.gray-line {
  border-bottom: 1px solid #3b3b3b;
  margin-top: 0;
}

.black-line {
  border-top: 1px solid #020e04;
}

.white-line {
  border-top: 1px solid #fff;
}

.bold-text {
  font-weight: 600;
}

.bayc-color {
  color: $primary;
}

.bayc-bg {
  background-color: $primary;
}

.w-90 {
  width: 90% !important;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.pointer {
  cursor: pointer;
}

.disabled {
  color: rgba(255, 255, 255, 0.5);
}

.transition-ease {
  transition: 0.3s;
}

.font-mono {
  font-family: monospace !important;
}

.gal-sub-title {
  display: inline;
  font-size: 1em;
  margin-bottom: 0;
  margin-right: 10px;
}

.gal-base-text {
  font-size: 0.85em;
  font-weight: 300;
  margin-bottom: calc(10px * 4);
}

.gal-italic {
  font-style: italic;
}

.gal-form {
  margin-bottom: calc(10px * 4);
}

.gal-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}

.gal-select-wrapper:focus {
  outline: none;
}

.gal-select {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
}

.gal-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
  padding-bottom: calc(10px / 2);
  height: auto;
  background: #020e04;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid $primary;
  margin-bottom: calc(10px * 2);
}

.gal-options {
  overflow-y: scroll;
  scrollbar-color: #fff transparent;
  height: 200px;
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: none;
  background: $primary;
  transition: all 0.25s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  margin-top: -21px;
  font-size: 0.9em;
}

.gal-select.open .gal-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.gal-select.set .gal-options {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}

.gal-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  color: #020e04;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.25s;
  font-weight: bold;
}

.gal-option:hover {
  cursor: pointer;
  background-color: #929600;
}

.gal-option.selected {
  background-color: #929600;
}

.gal-arrow {
  position: relative;
  height: 10px;
  width: 10px;
}

.gal-arrow::before,
.gal-arrow::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0.1rem;
  height: 100%;
  transition: all 0.25s;
}

.gal-arrow::before {
  left: -10px;
  transform: rotate(-45deg);
  background-color: $primary;
}

.gal-arrow::after {
  left: -4px;
  transform: rotate(45deg);
  background-color: $primary;
}

.open .gal-arrow::before {
  left: -10px;
  transform: rotate(45deg);
}

.open .gal-arrow::after {
  left: -4px;
  transform: rotate(-45deg);
}

.gal-input,
.gal-input:focus {
  margin-top: 0%;
  width: 100%;
  border: none;
  background-color: #020e04;
  color: $primary;
  padding: 0;
  padding-bottom: calc(10px / 2);
  font-weight: 400;
  font-size: 0.8em;
  font-style: italic;
  border-bottom: 1px solid $primary;
  border-radius: 0%;
}

.gal-input::-webkit-outer-spin-button,
.gal-input:focus::-webkit-outer-spin-button,
.gal-input::-webkit-inner-spin-button,
.gal-input:focus::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gal-input[type='number'] {
  -moz-appearance: textfield;
}

.gal-input:focus {
  box-shadow: none;
}

.gal-input::placeholder,
.gal-input:focus::placeholder {
  color: $primary;
  font-style: normal;
  font-size: 0.8rem;
  opacity: 1;
}

.gal-input:-ms-input-placeholder {
  color: $primary;
  font-style: normal;
}

.gal-input::-ms-input-placeholder,
.gal-input:focus::-ms-input-placeholder {
  color: $primary;
  font-style: normal;
}

.gal-reset {
  margin: calc(10px * 2);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.gal-image {
  max-width: 100%;
  margin-bottom: calc(10px * 2);
}

.gal-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 992px) {
  .gal-select__trigger {
    font-size: 0.8em;
  }

  .gal-options {
    font-size: 1em;
  }

  .gal-option {
    font-size: 0.5em;
  }
}
