<div class="navbar-header">
    <a class="navbar-brand" href=".">
        <!-- Logo icon -->
        <b fxHide.gt-xs>
            <!-- Dark Logo icon -->
            <img src="assets/images/favicon-lg.png" alt="homepage" class="dark-logo" width="35" height="35">
            <!-- Light Logo icon -->
            <img src="assets/images/favicon-lg.png" alt="homepage" class="light-logo" width="35" height="35">
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span fxShow="false" fxShow.gt-xs>
            <!-- dark Logo text -->
            <img src="assets/images/logo.png" alt="homepage" class="dark-logo" height="45">
            <!-- Light Logo text -->
            <img src="assets/images/logo.png" class="light-logo" alt="homepage" height="45">
        </span>
    </a>
</div>