<!-- ============================================================== -->
<!-- topbar -->
<!-- ============================================================== -->
<ng-container *ngFor="let menuitem of menuItems.getMenuitem()">
  <ng-container [ngSwitch]="menuitem.enabled">
    <a
      mat-button
      color="accent"
      (click)="openDialog(menuitem)"
      *ngSwitchDefault
      class="m-r-10">
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span
        class="label label-{{ badge.type }}"
        *ngFor="let badge of menuitem.badge"
        >{{ badge.value }}</span
      >
    </a>

    <a
      mat-button
      color="accent"
      *ngSwitchCase="true"
      class="m-r-10"
      [href]="'/home#' + menuitem.state">
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span
        class="label label-{{ badge.type }}"
        *ngFor="let badge of menuitem.badge"
        >{{ badge.value }}</span
      >
    </a>
  </ng-container>
</ng-container>
