:host {
  .little-profile {
    .pro-img,
    .pro-img:first-child {
      margin-top: 15px;
      margin-bottom: 20px;

      img {
        width: 168px;
        height: 168px;
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 100%;
      }
    }
  }

  .flex {
    display: flex;
  }

  .member-description {
  }

  .h-22 {
    height: 22%;
  }

  .h-34 {
    height: 34%;
  }

  .f-medium {
    line-height: 18px;
  }

  .f-small {
    font-size: 0.85rem;
    line-height: 1rem;
  }

  .member-quote {
    display: flex;
    justify-content: center;
  }
}
