:host .fade-in-section {
  display: flex;
  opacity: 0;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  visibility: hidden;
  will-change: opacity, transform, visibility;

  &[direction='up'] {
    transform: translateY(20vh);
  }

  &[direction='down'] {
    transform: translateY(-20vh);
  }

  &[direction='left'] {
    transform: translateX(20vh);
  }

  &[direction='right'] {
    transform: translateX(-20vh);
  }

  &.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}

:host {
  overflow: hidden;
}
