mat-toolbar {
  margin-bottom: 20px;
}

mat-toolbar > span {
  margin-left: 10px;
}

.content-wrapper {
  margin: auto;
  max-width: 1400px;
}

.container-wrapper {
  display: flex;
  justify-content: space-around;
}

.container {
  margin: 0 25px 25px 0;
  width: 400px;
}
