<div fxLayout="row wrap" class="justify-content-center">
  <div *ngFor="let member of members; index as i;" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" fxFlex.gt-md="25" fxLayout="column" >
    <app-fade-in direction="up" [delay]="100 * i" fxLayout="column" fxFlex="100" >
      <mat-card class="oh text-center little-profile" fxLayout="column"  fxFlex="100">
        <mat-card-content class="h-100" fxLayout="column" fxFlex="100">
          <div class="pro-img">
            <img [src]="'/assets/images/nfts/'+member.image" width="200" alt="user" class="img-circle">
          </div>
          <div class="member-description" fxLayout="column" fxFlex="100">
            <h3 class="my-0 pb-2 h-22 member-name">{{member.name}}</h3>
            <h5 class="my-0 pb-3 h-22 member-pretitle">
              <ng-container *ngIf="member.pretitle">{{member.pretitle}}</ng-container>
            </h5>
            <h4 class="my-0 pb-5 h-22 member-title f-medium">{{member.title}}</h4>
            <i class="h-34 member-quote f-small">"{{member.quote}}"</i>
          </div>
        </mat-card-content>
      </mat-card>
    </app-fade-in>
  </div>
</div>
