<div class="navbar-header">
  <a class="navbar-brand" href="">
    <!-- Logo icon -->
    <b fxHide.gt-xs>
      <!-- Dark Logo icon -->
      <img
        alt="homepage"
        height="45"
        src="../../../../assets/images/favicon-lg.png"
        width="45" />
    </b>
    <!--End Logo icon -->
    <!-- Logo text -->
    <span fxShow="false" fxShow.gt-xs>
      <!-- dark Logo text -->
      <img
        alt="homepage"
        class="mr-2"
        height="45"
        src="../../../../assets/images/favicon-lg.png"
        width="45" />
      <img
        alt="homepage"
        height="50"
        src="../../../../assets/images/logo.png" />
    </span>
  </a>
</div>
