<div class="constant-size">
  <div
    class="p-2 full-content text-center justify-content-center align-items-center" fxLayout="column">
    <div class="justify-content-between top-container pb-1" fxLayout="row wrap">
      <h1 fxFlex.lt-sm="45" fxFlex="60" class="m-0 mb-n4 text-left text-sm-center">Mini Game</h1>

      <div fxFlex.lt-sm="1 1 auto" fxFlex="20" fxLayout
           class="order-sm-first order-0 justify-content-sm-start justify-content-end">
        <a href="/home"
           class="m-r-10"
           color="accent"
           mat-icon-button>
          <fa-icon [icon]="home"></fa-icon>
        </a>
      </div>

      <div fxFlex.lt-sm="0 2 auto" fxFlex="20" fxLayout class="pb-3 justify-content-end">
        <app-social-icons></app-social-icons>
      </div>
    </div>
    <div class="frame-wrapper">
      <iframe
        allow="autoplay; fullscreen; camera; focus-without-user-activation *; monetization; gamepad"
        allowfullscreen="true"
        id="game-element"
        name="gameFrame"
        sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups
         allow-popups-to-escape-sandbox allow-presentation allow-scripts allow-same-origin allow-downloads"
        src="/assets/game/index.html"
        style="height: 100%; width: 100%"
        title="Game"></iframe>
    </div>
  </div>
</div>
