<footer class="footer">
    <div class="container-fluid footer-line">
        <hr class="p-0 line">
        <div class="row mx-0 footer-padding">
            <div class="col-12 col-lg-4 order-lg-first my-lg-auto">
                <div class="email-container"><span class="email-label">GET ON THE LIST</span><br>
                    <div class="d-flex email-flex"><br>
                        <form id="email-submit" method="post" name="mc-embedded-subscribe-form" target="_blank"
                            class="email-form">
                            <input id="email-address" class="m-0 email-input-text" type="email"
                                placeholder="Email Address" name="EMAIL" required="" value="">
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                <input type="text" name="email-input" tabindex="-1">
                            </div>
                            <button name="subscribe" class="email-submit" type="submit">→</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-first">
                <img class="img-fluid footer-logo" src="http://zoo-rush.com/assets/images/big-team.jpg" alt="logo">
            </div>
            <div class="order-last my-auto text-center col-lg-4 col-sm-12 col-12">
                <app-social-icons></app-social-icons>
            </div>
        </div>
    </div>
    <div class="container-fluid m-0 p-0"><span class="last-line"></span></div>
</footer>