<footer class="footer mt-5 mt-lg-0 pt-5">
  <div class="container-fluid footer-line mt-5 mt-lg-0">
    <app-divider></app-divider>
    <app-fade-in delay="10">
      <div class="row mx-0 footer-padding mb-2">
        <div class="col-12 col-lg-4 order-lg-first my-lg-auto">
        </div>
        <div class="col-12 col-lg-4 order-first">
          <img class="img-fluid footer-logo" src="/assets/images/logo.png" alt="logo">
        </div>
        <div class="order-last my-auto text-right col-lg-4 col-sm-12 col-12 pt-sm-2">
          <app-social-icons></app-social-icons>
        </div>
      </div>
    </app-fade-in>
  </div>
  <div class="container-fluid m-0 p-0"><span class="last-line"></span></div>
</footer>
