@use 'sass:map';

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

$bodyfont: 'Poppins', sans-serif;
$headingfont: 'Poppins', sans-serif;

@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Poppins, sans-serif',
);

// Override the typography in the core CSS.
@include mat-core($custom-typography);

/* Material Theme Colors */
$dark-primary: mat-palette($mat-grey, 900);
$dark-accent: mat-palette($mat-amber, a200, a100, a400);
$dark-warn: mat-palette($mat-deep-orange);
$mat-dark-theme-background: #020e04;
// Foreground palette for dark themes.
$dark-theme-foreground-palette: (
  base: white,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba(white, 0.3),
  disabled-text: $light-disabled-text,
  elevation: $mat-dark-theme-background,
  hint-text: $light-disabled-text,
  secondary-text: $light-secondary-text,
  icon: white,
  icons: white,
  text: white,
  slider-min: white,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

// Background palette for dark themes.
$dark-theme-background-palette: (
  status-bar: $mat-dark-theme-background,
  app-bar: map.get(mat-palette($mat-grey, 900), 900),
  background: $mat-dark-theme-background,
  hover: rgba(white, 0.04),
  card: map.get(mat-palette($mat-grey, 800), 800),
  dialog: map.get(mat-palette($mat-grey, 800), 800),
  disabled-button: rgba(white, 0.12),
  raised-button: map.get(mat-palette($mat-grey, 800), 800),
  focused-button: $light-focused,
  selected-button: map.get(mat-palette($mat-grey, 900), 900),
  selected-disabled-button: map.get(mat-palette($mat-grey, 800), 800),
  disabled-button-toggle: $mat-dark-theme-background,
  unselected-chip: map.get(mat-palette($mat-grey, 700), 700),
  disabled-list-option: $mat-dark-theme-background,
  tooltip: map.get(mat-palette($mat-grey, 700), 700),
);

$dark-theme: (
  primary: $dark-primary,
  accent: $dark-accent,
  warn: $dark-warn,
  is-dark: true,
  foreground: $dark-theme-foreground-palette,
  background: $dark-theme-background-palette,
);

// Default Theme
@include angular-material-theme($dark-theme);

// Dark Theme
$bodycolor: #0f0f0f;

$light-text: #f1f9fd;
$themecolor: #f51a1a;
$themecolor-alt: #da267a;

/* bootstrap Color */
$danger: #fc4b6c;
$success: #26c6da;
$warning: #ffb22b;
$primary: #cdc5ff;
$info: #1e88e5;
$inverse: #2f3d4a;
$muted: #99abb4;
$dark: #263238;
$light: #f2f4f8;
$extra-light: #ebf3f5;

/* Light colors */
$light-danger: #f9e7eb;
$light-success: #e8fdf8;
$light-warning: #fff8ec;
$light-primary: #f1effd;
$light-info: #e3f3fd;
$light-inverse: #f6f6f6;
$light-megna: #e0f2f4;

$danger-dark: #e6294b;
$success-dark: #1eacbe;
$warning-dark: #e9ab2e;
$primary-dark: #6352ce;
$info-dark: #028ee1;
$red-dark: #d61f1f;
$inverse-dark: #232a37;
$dark-transparent: rgba(0, 0, 0, 0.05);

/* Normal Color */
$white: #fff;
$red: #fb3a3a;
$yellow: #a0aec4;
$purple: #7460ee;
$blue: #02bec9;
$megna: #00897b;

/* Extra Variable */
$border: rgba(120, 130, 140, 0.13);
$dark-text: #848a96;
$radius: 4px;
