<div class="mt-5 p-4 text-center justify-content-center align-items-center" fxLayout="column">
  <h2>Secret Mini Game MVP</h2>
  <div style="height: 470px; width: 836px;">
    <iframe id="game-element" allowfullscreen=""
            style="height: 100%; width: 100%;"
            allow="autoplay; fullscreen; camera; focus-without-user-activation *; monetization; gamepad"
            name="gameFrame" scrolling="no"
            sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-presentation allow-scripts allow-same-origin allow-downloads"
            src="//games.poki.com/458768/linebackeralley?tag=pg-v2.20.1&amp;site_id=3&amp;categories=2,227,854&amp;iso_lang=en&amp;country=GB"
            title="Game"></iframe>
  </div>
</div>
