.wrap-column {
  display: flex;
  flex-wrap: wrap;
}

.footer-line {
  max-width: 90%;
}

.line {
  border-bottom: 1px solid #fff;
  display: block;
  margin: 0;
  padding-top: 30px;
}

app-divider {
  margin: 0 1rem;
}

::ng-deep .make-center {
  .fade-in-section {
    display: flex;
    justify-content: center;
  }
}
