<div fxLayout="row wrap">
  <div fxLayout="column">
    <app-hero></app-hero>

    <app-divider></app-divider>
    <app-nfts></app-nfts>

    <app-divider></app-divider>
    <app-section [id]="gameId" [title]="'THE TEAM'">
      <div>
        <p>Content Coming Soon!</p>
      </div>
    </app-section>

    <app-divider></app-divider>
    <app-section [id]="teamId" [title]="'THE GAME'">
      <div>
        <p>Content Coming Soon!</p>
      </div>
    </app-section>

    <app-divider></app-divider>
    <app-roadmap></app-roadmap>
  </div>
</div>
