.wrap-column {
  display: flex;
  flex-wrap: wrap;
}

.footer-line {
  max-width: 90%;
}

.line {
  border-bottom: 1px solid #fff;
  display: block;
  margin: 0;
  padding-top: 30px;
}

.mat-divider {
  padding-bottom: 1rem;
  width: 100%;
}
