<footer class="footer mt-lg-0 pt-5" fxLayout="column">
  <div class="container-fluid footer-line mt-lg-0" fxLayout="column">
    <app-divider fxShow="false" fxShow.gt-sm></app-divider>
    <app-fade-in
      delay="10"
      fxFlex="100"
      fxLayout="column"
      style="overflow: unset">
      <div
        class="row mx-0 footer-padding mb-2"
        fxFlex="100"
        fxLayout="row wrap">
        <div class="col-12 col-lg-4 order-lg-first my-lg-auto"></div>
        <div class="col-12 col-lg-4 order-first">
          <img
            class="img-fluid footer-logo"
            src="/assets/images/favicon-lg.png"
            alt="logo" />
        </div>
        <div
          class="
            order-last
            my-auto
            text-lg-right text-center
            col-sm-12 col-12
            pt-sm-2
            justify-content-between
            flex
          ">
          <span style="align-self: center">© 2021</span>
          <app-social-icons></app-social-icons>
        </div>
      </div>
    </app-fade-in>
  </div>
  <div class="container-fluid m-0 p-0"><span class="last-line"></span></div>
</footer>
